html, body{
   height: 100%;
   background: #FFF;
   margin: 0;
   padding: 0;
   font-family: "Quicksand";
}

.content{
   min-height: 100%;
}

div{
   margin: 0;
   padding: 0;   
   border: 0;
   vertical-align: baseline;
}

/***** Header *****/
/*------------------------------------------------------------------------------*/

.header-height{
   height: 150px;
}

.main-container {
   width: 1200px;
   margin-right: auto;
   margin-left: auto;
   clear: both;
   display: table;
}

.container{
   text-align: center;
}

.third-container {
   min-height: 1px;
   width: 33.33333333%;
   float: left;
}

/***** Headline ******/
/*------------------------------------------------------------------------------*/

.home{
   font-family: 'Damion', cursive;
   font-size: 60pt;
}

.home-bottom{
   font-family: 'Damion', cursive;
   font-size: 18pt;
}

/***** Social *****/
/*------------------------------------------------------------------------------*/

ul#social, ul#contact{
   list-style: none;
   list-style-type: none;
}

img{
   padding-left: 5px;
   height: 30px;
   width: 30px;
}

/***** Main Menu *****/
/*------------------------------------------------------------------------------*/

.main-menu{
   line-height: 1;
}

ul#menu{
   text-align: center;
}

ul#menu li{
   display: inline-block;
}

ul#menu li a {
   font-size: 14pt;
   padding: 20px;
}

/***** Footer *****/
/*------------------------------------------------------------------------------*/

footer{
   margin-top: -50px;
   background-color: #50375F;
   color: white;
}

.footer-height{
   height: 80px;
}

ul#contact li a{
   font-size: 14pt;
   padding: 20px;
}

/***** Rules *****/
/*------------------------------------------------------------------------------*/

.vertical-middle{
   top: 50%;
   position: relative;
   transform: perspective(1px) translateY(-50%);
   -webkit-transform: perspective(1px) translateY(-50%);
}

.position-center{
   text-align: center;
   margin: 0;
}
.pull-right{
   float: right !important;
}

.margin-bottom-20 {
   margin-bottom: 20px !important;
}

.link-black{
   text-decoration: none;
   color: black;
}

.link-white{
   text-decoration: none;
   color: white;
}
